<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增设备</title>
</head>
<body>
    <form action="/add_device/" method="POST">
      {% csrf_token %}
      ip : <input type="text" name="ip" />
      name : <input type="text" name="name" />
      password : <input type="text" name="password" />
      <input type="submit" value="添加" />
    </form>
</body>
</html>