<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库信息</title>
</head>
<body>
    <h1>现有一机一档级联信息如下，如需添加级联信息，登录网页xxxxx</h1>
    <table border="1px" width="100%" align="center" >
    <tr align="center">
    <th>id</th>
    <th>rule_name</th>
    <th>url</th>
</tr>
    {% for Con in objs %}
        <tr>
        <td align="center">{{ Con.id }}</td>
        <td align="center">{{ Con.rule_name }}</td>
        <td align="center">{{ Con.url }}</td>

    </tr>{% endfor %}
 </table>

</body>
</html>